<!DOCTYPE html>
<html lang="en">
<head>
    <title>Duyệt chấm công | {{congty[1]}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='doc/css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename=congty[3])}}"/>
</head>
<body class="app sidebar-mini rtl">
    {% include 'general/menu.html' %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-calendar-check-o"></i> Duyệt chấm công</h1>
                <p>Danh sách chấm công đang chờ duyệt</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Duyệt chấm công</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã NV</th>
                                    <th>Tên NV</th>
                                    <th>Ngày</th>
                                    <th>Giờ vào</th>
                                    <th>Giờ ra</th>
                                    <th>OT</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in pending %}
                                <tr>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[9] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                    <td>{{ item[4] }}</td>
                                    <td>{{ item[5] }}</td>
                                    <td>
                                        <form action="{{ url_for('approve_attendance', id=item[0]) }}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-success btn-sm">Duyệt</button>
                                        </form>
                                        <form action="{{ url_for('reject_attendance', id=item[0]) }}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm">Từ chối</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='doc/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/plugins/pace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
    </script>
</body>
</html>